@{
    ViewData["Title"] = "Home Page";
}

    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Music Web Store</h1>
            <p class="lead">Here you can find your favourite music. Songs, albums and your favourite singers</p>
        </div>
    </div>