@model MusicStore.Web.Models.Album

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Album</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="AlbumID" />
            <div class="form-group">
                <label asp-for="AlbumName" class="control-label"></label>
                <input asp-for="AlbumName" class="form-control" />
                <span asp-validation-for="AlbumName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AlbumReleaseDate" class="control-label"></label>
                <input asp-for="AlbumReleaseDate" class="form-control" />
                <span asp-validation-for="AlbumReleaseDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Singer" class="control-label"></label>
                <input asp-for="Singer" class="form-control" />
                <span asp-validation-for="Singer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
